<main>
    <h1>Chat</h1>

    <ul id="messages"></ul>
    <form action="">
        <input id="email" type="email" required placeholder="Enter your email" autocomplete="off" />
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>

</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>